<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-header">Navigacija</div>
        <div class="card-body">
          <div class="list-group">
            <a routerLink="/" class="list-group-item list-group-action">Prekės</a>
            <a routerLink="/orders" class="list-group-item list-group-action">Užsakymai</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
     <router-outlet></router-outlet>
      

    </div>
  </div>
</div>